@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  height: 100%;
}
.content {
  margin: 10px auto;
  padding: 20px;
  background-color: white;
  width: 650px;
}
.App {
  margin: 10px auto;
  padding: 20px;

  height: max-content;
}
.body {
  height: 100%;
  background-color: #f7f6f6;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
}
.navbar h1 {
  color: #f1356d;
  font-size: 45px;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

/* post / list */
.posts-container {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  background-color: #fdfdfd;
}
.post {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;

}

.post-img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #fafafa;
  border-radius: 10px;
  background: rgba(243, 239, 239, 0.407);
}

.post img {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  display: table;
}
.post-info {
  padding: 5px 16px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  margin: 10px 10px 10px 20px;
  vertical-align: middle;
}
.post-info a {
  font-weight: bold;
  font-size: 25px;
}

.post-info p {
  font-size: 17px;
  padding: 10px 10px 10px 10px;
}

.go-to-post a img {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border: hidden;
  padding: 10px 5px 5px 20px;
}

.go-to-post a {
  display: flex;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.go-to-post p {
  padding: 10px;
  font-size: 20px;
}

.go-to-post {
  width: 200px;
  grid-row: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  background: rgb(243, 239, 239);
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*login*/
.login-form {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}
.login form {
  border-radius: 10px;
}
.login-account {
  margin-bottom: 10px;
}
.login label {
  padding: 5px;
  font-weight: 700;
}

.login h1 {
  padding: 5px;
}

.login button {
  margin: 20px;
}

/*input*/
.input-form {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}
.input form div {
  border-radius: 10px;
}

.input label {
  padding: 5px;
}

.input h1 {
  padding: 5px;
}

.input button {
  margin: 10px;
}

/*Application Status*/
.application-status {
  margin-top: 30px;
}
.application-status h2 {
  margin-bottom: 5px;
}
.application-status-text {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.home h2 {
  margin-top: 30px;
}
.how-to {
  margin-top: 5px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
